@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Account Detail";
}

<section id="Account-Details">
    <div class="container">
        <div class="row overview">
            <div class="account">
                <div class="left">
                    <h3>My Account</h3>
                    <p>Welcome back, @User.Identity.Name.</p>
                </div>
                <div class="right d-md-block d-none">
                    <h6>CAN WE HELP?</h6>
                    <p>@Html.Raw("fidanji@code.edu.az")</p>
                    <a asp-controller="Contact" asp-action="Index">Contact us</a>
                </div>
            </div>
        </div>
        <div class="row overview-container">
            <div class="col-md-3">
                <div class="my-menu">
                    <div>
                        <h4>My Account Menu</h4>
                    </div>
                    <div>
                        <p>+</p>
                    </div>
                </div>
                <div class="left-side">
                    <ul>
                        <li class="@Html.IsSelected("Order", "Profile")"><a asp-action="Profile" asp-controller="Order">Overview</a></li>
                        <li class="@Html.IsSelected("Account", "AccountDetail")"><a asp-action="AccountDetail" asp-controller="Account">Account details</a></li>
                        <li class="@Html.IsSelected("Order", "OrderHistory")"><a asp-action="OrderHistory" asp-controller="Order">Order History</a></li>
                        <li class="@Html.IsSelected("Basket", "Favorite")"><a asp-action="Favorite" asp-controller="Basket">My Favourites</a></li>
                        <li class="@Html.IsSelected("Account", "ChangePassword")"><a asp-action="ChangePassword" asp-controller="Account">Change Password</a></li>
                    </ul>
                    <div class="line d-md-block d-none"></div>
                    <div class="logout">
                        <a asp-controller="Account" asp-action="LogOut">Sign Out</a>
                    </div>
                </div>
                <div class="my-menu">
                    <div>
                        <h4>Can We Help</h4>
                    </div>
                    <div>
                        <p>+</p>
                    </div>
                </div>
                <div class="left-side d-md-none">
                    <ul>
                        <li style="border-bottom: 1px solid black; width: fit-content;" class="active">
                            <a>@Html.Raw("fidanji@code.edu.az")</a>
                        </li>
                        <li style="border-bottom: 1px solid black; width: fit-content;">
                            <a asp-controller="Contact" asp-action="Index">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="right-side">
                    <h2>ACCOUNT DETAILS</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="my-password-wrap">
                                <div class="my-menu">
                                    <h6>Password</h6>
                                    <div>
                                        <p>+</p>
                                    </div>
                                </div>
                                <div class="change-pass left-side">
                                    <button id="changePasswordLink">
                                        <i class="bi bi-pencil-square"></i>CHANGE
                                        PASSWORD
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="changeP" style="display:block">
                                <h6>Change Password</h6>
                                <form asp-action="ChangePassword" class="change-password" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label asp-for="CurrentPassword" class="form-control-label" for="CurrentPassword">Current Password*</label>
                                        <div class="password-input-container">
                                            <input asp-for="CurrentPassword" type="password" class="form-control toggleable-password" id="currentPassword">
                                            <span class="toggle-password toggle-password-hide">
                                                <img src="~/assets/images/Hide.svg" alt="">
                                            </span>
                                            <span class="toggle-password toggle-password-show d-none">
                                                <img src="~/assets/images/Show.svg" alt="">
                                            </span>
                                        </div>
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>

                                    <div class="password-requirement">
                                        Your secure password must:<br>Contain 8 -
                                        20 characters<br>Have at least one number<br>Have uppercase and
                                        lowercase characters<br>Have at least one special character
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewPassword" class="form-control-label" for="NewPassword">New Password*</label>
                                        <div class="password-input-container">
                                            <input asp-for="NewPassword" type="password" class="form-control toggleable-password" id="newPassword">
                                            <span class="toggle-password toggle-password-hide">
                                                <img src="~/assets/images/Hide.svg" alt="">
                                            </span>
                                            <span class="toggle-password toggle-password-show d-none">
                                                <img src="~/assets/images/Show.svg" alt="">
                                            </span>
                                        </div>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="form-control-label" for="ConfirmPassword">Confirm Password*</label>
                                        <div class="password-input-container">
                                            <input asp-for="ConfirmPassword" type="password" class="form-control toggleable-password" id="confirmPassword">
                                            <span class="toggle-password toggle-password-hide">
                                                <img src="~/assets/images/Hide.svg" alt="">
                                            </span>
                                            <span class="toggle-password toggle-password-show d-none">
                                                <img src="~/assets/images/Show.svg" alt="">
                                            </span>
                                        </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button class="button-save-changes" type="submit">CHANGE PASSWORD</button>
                                    <button class="cancel-btn" id="cancelChangePButton"
                                            type="button">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/password.js"></script>
}
